version: '3'
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile-dev
    ports:
      - 3001:3001
    volumes:
      - .:/usr/src/app/
      # Use the node_modules in the container for greatly improved performance on Windows machines. This does mean you need to run either `docker-compose build server` or `docker-compose exec server npm install` when setting up new dependencies.
      - /usr/src/app/node_modules/
    environment:
      - MYSQL_HOST=database
      - MYSQL_PORT=3306
      - MYSQL_DIALECT=mariadb
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=my-secret-pw
      - MYSQL_DATABASE=wowanalyzer
    depends_on:
      - database

  database:
    image: "mariadb:10.3"
    command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--max_allowed_packet=64M']
    environment:
     - MYSQL_ROOT_PASSWORD=my-secret-pw
     - MYSQL_DATABASE=wowanalyzer
    restart: always
    ports:
     - 3306:3306
